@font-face {
  font-family: "iconfont"; /* Project id 4021242 */
  src: url('iconfont.woff2?t=1683877688530') format('woff2'),
       url('iconfont.woff?t=1683877688530') format('woff'),
       url('iconfont.ttf?t=1683877688530') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-refresh:before {
  content: "\e74a";
}

.icon-theme:before {
  content: "\e610";
}

.icon-search:before {
  content: "\e741";
}

.icon-zhongyingwen:before {
  content: "\e605";
}

.icon-exitfullscreen:before {
  content: "\e607";
}

.icon-fullscreen:before {
  content: "\e6d7";
}

